<footer class="text-center text-lg-start bg-b text-black my-2 pt-3 ">
    <section class="">
    <div class="container text-center text-md-start mt-2">  
        <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Zanzibar
            </h6>
            <p> 
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
            </p>
        </div>
    
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
                Categorie
            </h6>
            <p>
            <a href="#!" class="text-reset text-decoration-none">Coding</a>
            </p>
            <p>
            <a href="#!" class="text-reset text-decoration-none ">Art</a>
            </p>
            <p>
                <a href="#!" class="text-reset text-decoration-none">Economie</a>
            </p>
            <p>
                <a href="#!" class="text-reset text-decoration-none">Music</a>
            </p>

            <p>
        </div>
    
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
            Useful links
            </h6>
            <p>
            <a href="#!" class="text-reset text-decoration-none">Categorie</a>
            </p>
            <p>
            <a href="#!" class="text-reset text-decoration-none">Blog</a>
            </p>
            <p>
            <a href="#!" class="text-reset text-decoration-none">Cantact Us</a>
            </p>
            <p>
            <a href="#!" class="text-reset text-decoration-none">About Us</a>
            </p>
        </div>
    
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 ">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i>Youssoufia,Quartie Manar,N 9</p>
            <p>
            <i class="fas fa-envelope me-3"></i>
            Zanzibar@gmail.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        </div>
    </div>
    </section>
</footer>
</main>