<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>article title</title>
</head>
<body>
    <div class="row container" >
        <div class="col-9 body-blog  ">
            <div class="image-title mt-5">
                <img src="https://assets.entrepreneur.com/content/3x2/2000/20160628101609-Coding.jpeg?auto=webp&quality=95&crop=16:9&width=675" alt="">
            </div>
            <div class="article-title p-4">
                <h1 class="fw-bolder">This is the title of the article</h1>
                <p>Posted on the 12/04/2022 by laghbar</p>
            </div>
            <div class="article-body fs-5 p-5   ">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit temporibus cum sequi, minus mollitia expedita laudantium fuga consequuntur iure blanditiis nam nemo similique minima, veritatis quae itaque in velit ipsum dolores voluptas! Qui dignissimos officia sunt eveniet nulla architecto dolorum repellat mollitia. Voluptates ducimus corporis nulla modi inventore totam, assumenda ex alias, dolorum fuga porro voluptate tenetur placeat ea excepturi magnam quod numquam accusantium blanditiis? Tenetur dicta sed quae dolor, pariatur commodi dolorum vel perferendis eligendi perspiciatis voluptate natus tempora eos iste ducimus animi consectetur alias, corporis quo! Dolorem nam ea eveniet deserunt totam! Officia eum soluta enim sapiente minus velit atque provident vel rem repudiandae in, repellendus quis deserunt quaerat, autem magnam quas vitae. Voluptate fuga deleniti explicabo similique voluptas vero! Adipisci non, quisquam itaque eveniet, totam sed ipsum, suscipit eligendi molestias qui dolores consequuntur. Incidunt impedit numquam eaque temporibus asperiores amet doloribus delectus nisi in, debitis quas inventore quis corporis odit explicabo eveniet deleniti placeat iusto fuga fugiat ad perferendis. Ullam voluptate hic id eaque, accusamus itaque exercitationem voluptatum mollitia, tenetur corporis minus voluptatibus eveniet sed sapiente est deleniti. Odit cupiditate maiores esse facilis voluptatum unde, qui saepe ullam. Neque ipsum recusandae dolores aperiam doloremque laborum voluptas voluptatum atque tempore! Earum nisi dicta consequuntur ut aut et suscipit fuga repellat asperiores, laboriosam maiores repellendus fugit deleniti praesentium, eligendi iste totam provident excepturi. Doloremque, ducimus illo omnis dolor officiis corporis aut adipisci est reprehenderit. Fugit alias, itaque rem facere quam dignissimos error laudantium consequuntur aliquam molestias! Deleniti omnis odio odit molestias non beatae possimus est, similique eveniet eius earum maiores officiis? Illum inventore natus error, minima doloremque vero aliquid quisquam atque accusamus sint fugiat ipsum eaque laboriosam expedita voluptates magni unde odit, distinctio suscipit ratione molestias! Aut ratione quibusdam sequi voluptates, incidunt odit soluta ea quaerat sunt commodi accusamus deserunt consequatur dolorum nihil inventore? Similique vero eius corporis, minus, recusandae vitae repellendus accusantium quam ut iusto accusamus nam, facere non autem quod. Unde at iure nostrum veniam, alias cumque. Excepturi provident numquam perferendis, quia hic iste quis id quisquam autem minima voluptate doloremque voluptates itaque deserunt iusto? Veritatis, quis odit vero error laborum quia modi porro mollitia asperiores corrupti voluptatibus. Similique harum expedita repellat dolorem, voluptate rem. Earum excepturi dolor magnam, impedit vitae repellat, ut accusamus voluptates similique tenetur, ad ducimus numquam delectus necessitatibus voluptatem sapiente eos sit labore at quaerat. Nihil, quaerat! Perferendis quibusdam ab consequuntur libero, vel molestias quisquam quia est eaque doloremque adipisci corporis rem, placeat iusto magnam, cum dolorum illum qui quas quidem eius! Quasi obcaecati, voluptas veritatis saepe alias harum itaque quam nam explicabo praesentium assumenda laudantium libero? A quos dolorum similique perspiciatis, facere dicta? Aliquid maxime qui a commodi explicabo inventore expedita amet distinctio suscipit placeat, non illo iusto reprehenderit maiores. Ipsa reiciendis aliquid voluptas at nostrum doloremque natus. Aspernatur est rem inventore consequuntur omnis dolore fugiat, ex voluptas. Sed non, pariatur totam quis exercitationem unde commodi molestias cumque minus aliquam dolorum doloribus, quidem libero voluptas ducimus doloremque ullam, veniam temporibus. Fuga animi odit iure commodi, maxime architecto nihil distinctio eum repudiandae? Dolorem harum quia voluptates qui, reiciendis consequuntur distinctio asperiores alias nisi vero eos a omnis aperiam quam architecto expedita culpa nesciunt porro. Quas tempora enim veritatis at, quasi temporibus laboriosam, qui nobis blanditiis ad distinctio excepturi, repellat molestiae. Blanditiis, accusamus a repudiandae saepe tempore beatae. Aspernatur in blanditiis error amet eum nostrum officia et labore est harum aut voluptate dolores veritatis aliquid excepturi accusamus eius consequuntur, a architecto nobis maiores? Deleniti quasi dignissimos excepturi soluta distinctio aliquid exercitationem ea, recusandae repellat labore eum magnam quae, maiores incidunt nam placeat! Laboriosam commodi ut vero id atque eum debitis iste deserunt ipsum architecto exercitationem ullam cupiditate, eius, expedita unde beatae consequuntur. Architecto iure rerum facere, error minima aut nam. Necessitatibus voluptatem quas iure itaque, porro impedit iste dolor atque nam mollitia. Repellendus iste accusamus, consequatur officia quam error. Incidunt, recusandae perferendis! Sunt sapiente molestias ducimus impedit recusandae rem modi libero ipsa temporibus. Quis quod praesentium ab, voluptates quas saepe. Neque quod sint debitis dolorem nobis eveniet est odit illo quisquam incidunt sequi saepe officia consequatur ipsam, doloribus, in totam fugiat. Perspiciatis minus unde quasi accusantium optio, sapiente sint incidunt quibusdam consequuntur omnis esse recusandae quam veritatis consectetur error ut aut voluptatum natus nihil praesentium, facere accusamus tempora porro. Minima laborum sequi dolorum commodi quas in inventore, repellat cum officia voluptatibus dignissimos laboriosam quae reiciendis nam! Impedit sed, accusantium hic placeat in quidem, quisquam labore eaque illum perspiciatis possimus suscipit laborum eum dicta id quae officiis unde magni mollitia voluptatum nesciunt ratione, aut delectus qui! Nulla voluptates, doloremque deleniti libero atque ducimus cumque molestiae blanditiis ab possimus reiciendis cupiditate dolores perspiciatis ea quaerat non fugiat officiis beatae facilis porro quas rerum, natus soluta praesentium. Eveniet dolores in nulla quisquam impedit quos vel suscipit blanditiis quidem repudiandae vero temporibus harum, beatae vitae reiciendis explicabo! Commodi sequi sunt culpa eligendi a deleniti alias rem reprehenderit consequuntur deserunt explicabo voluptatibus ut repellendus sit possimus blanditiis id mollitia consectetur non tempore molestiae delectus soluta, dolores quod. Consectetur et mollitia perferendis tenetur, exercitationem perspiciatis alias blanditiis labore accusamus sed molestias, aliquam doloribus nostrum ducimus. Consequuntur error ullam distinctio iusto quis libero quidem sunt sequi! Voluptates temporibus quam amet, consectetur, vitae odit officiis sed, rerum et earum tempore expedita quaerat beatae praesentium iusto eveniet esse pariatur architecto eaque deserunt nulla aliquid! Officia facere est molestias ducimus numquam fuga autem, illo architecto labore sint veniam minima odio voluptatibus sapiente aperiam necessitatibus voluptas ipsum corporis commodi blanditiis dolores, excepturi, eos dolore! Praesentium hic nihil officia culpa accusantium iure, neque, iusto dolore non sed, aperiam quaerat eius sequi quis accusamus ea quod temporibus soluta consectetur dicta facilis nemo suscipit perferendis id. Ullam, debitis! Quasi cum, nam maxime porro dolorem, saepe eum id assumenda sed voluptatem, asperiores minus ea? Unde nobis ipsam ut nulla ullam officia consectetur, saepe molestiae tenetur dicta. Beatae esse dicta ipsa et sit, soluta magnam aut expedita magni nulla unde asperiores ipsam, neque necessitatibus. Ratione perspiciatis mollitia accusantium doloribus aperiam.
                </p>
            </div>
        </div>
        <div class="col aside-blog p-3   rounded">
            <h3>Recent Posts:</h3>

           <div class="recent-post row p-2 m-2">
                <div class="recent-post-img col-4">
                    <img src="https://scontent.frba1-2.fna.fbcdn.net/v/t1.18169-9/10682_1501034666853138_1714051818574906852_n.png?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=0x6CI7ve1LAAX-djCaI&_nc_ht=scontent.frba1-2.fna&oh=00_AT8poWP-c3lfn2vmAvpB8UQyo6VLtQL5NNoyvJXVqHwt-A&oe=6359D12D" width="100px" height="100px" class="rounded" alt="">
                </div>
                <div class="recent-post-content p-1 col">
                    <p class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, culpa!</p>
                </div>
           </div>

           <div class="recent-post row p-2 m-2">
            <div class="recent-post-img col-4">
                <img src="https://scontent.frba1-2.fna.fbcdn.net/v/t1.18169-9/10682_1501034666853138_1714051818574906852_n.png?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=0x6CI7ve1LAAX-djCaI&_nc_ht=scontent.frba1-2.fna&oh=00_AT8poWP-c3lfn2vmAvpB8UQyo6VLtQL5NNoyvJXVqHwt-A&oe=6359D12D" width="100px" height="100px" class="rounded" alt="">
            </div>
            <div class="recent-post-content p-1 col">
                <p class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, culpa!</p>
            </div>
       </div>


       <div class="recent-post row p-2 m-2">
        <div class="recent-post-img col-4">
            <img src="https://scontent.frba1-2.fna.fbcdn.net/v/t1.18169-9/10682_1501034666853138_1714051818574906852_n.png?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=0x6CI7ve1LAAX-djCaI&_nc_ht=scontent.frba1-2.fna&oh=00_AT8poWP-c3lfn2vmAvpB8UQyo6VLtQL5NNoyvJXVqHwt-A&oe=6359D12D" width="100px" height="100px" class="rounded" alt="">
        </div>
        <div class="recent-post-content p-1 col">
            <p class="fw-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, culpa!</p>
        </div>
   </div>
        </div>
     
      </div>
    
</body>
</html>