<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>article title</title>
</head>
<body>

<div class="container row">

    <div id="body" class="col-4">
        <div class="article_image">
            <img src="https://assets.entrepreneur.com/content/3x2/2000/20160628101609-Coding.jpeg?auto=webp&quality=95&crop=16:9&width=675" alt="">
        </div>
        <div class="article_title">
            <h1>This is the article's Title</h1>
            <p>Last updated: Dec 15, 2021 • 5 min read</p>
        </div>
        <div class="article_body fs-5">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos, illo? Ex maiores eius quas rem dignissimos, praesentium ipsa, quasi quos accusamus iure repudiandae molestiae unde tempora quis repellat maxime adipisci alias commodi vero assumenda quia doloribus neque consequatur. Laudantium non facilis pariatur sed corporis optio quibusdam ad in minus minima adipisci, architecto commodi reiciendis obcaecati velit nostrum vitae dignissimos eius dolorum consectetur accusantium assumenda! Atque, repudiandae voluptatum! Id modi maiores qui ex aut fugit voluptates expedita, necessitatibus quas omnis minima. Mollitia cupiditate itaque ratione tempora magnam maxime neque quis consectetur exercitationem fuga, dolores ea ad. Ab cupiditate sed unde magni nesciunt explicabo, aperiam sit quasi. Sed magni iste et reprehenderit doloribus voluptas, optio minima, provident sapiente esse fuga, ipsam enim molestiae placeat explicabo praesentium laborum eligendi veniam deleniti nemo consequuntur. Autem nihil ea nobis dolores sapiente minima blanditiis, quidem eligendi fugit adipisci modi aliquam omnis dolor laboriosam assumenda corrupti unde debitis asperiores numquam id veritatis cupiditate itaque! Obcaecati quas provident modi harum, blanditiis nisi itaque illo, minus nostrum a nobis hic iure similique odit, officia velit expedita? Optio enim debitis quae maxime quisquam omnis error, distinctio voluptas. Illum est quo aspernatur nam vitae fugiat expedita, amet libero voluptatem quos. Maxime eveniet blanditiis fugit eum magnam consequuntur veritatis dicta laboriosam. Nobis ab incidunt consequuntur, error obcaecati maxime explicabo labore vitae, cupiditate corporis nesciunt excepturi non deleniti nemo officia id iusto. Numquam ipsam nemo sunt accusantium dolor ex deleniti amet aliquam recusandae iure porro, dolore quis dolores aperiam animi omnis iusto itaque, in, nostrum soluta optio ullam repudiandae! Reiciendis, aliquid, nihil aperiam nulla ipsum beatae placeat unde sunt delectus consequatur aliquam blanditiis iste distinctio accusamus dicta libero voluptatem illo doloremque neque. Quo quas sed, minus asperiores magni, aperiam nostrum expedita laboriosam quidem saepe velit quam nihil corporis laudantium dignissimos distinctio cupiditate sapiente! Impedit, at? Amet odio odit officia! Quo quibusdam sapiente numquam iusto, veniam ex, reprehenderit maiores similique aliquam vitae quas nulla magni! Quaerat natus eaque nulla repellat rerum! Ut quae autem quisquam sapiente, id minus cum alias atque nisi dolor odit. Assumenda illo, neque tempora id nam dolorum temporibus quod deserunt consectetur ad, ullam iste libero quasi magni tenetur consequuntur eos optio officiis corrupti quisquam rerum fugit, labore facilis! Enim veniam maiores quod qui doloremque nihil explicabo animi aspernatur nisi dolore iure voluptatem, facere, libero impedit doloribus sint similique neque praesentium eaque officiis recusandae ipsam necessitatibus tempora! Consequatur praesentium delectus laudantium voluptas deserunt optio non commodi consequuntur nesciunt, fugiat illo necessitatibus temporibus qui! Quas accusantium atque molestiae. Inventore distinctio ipsa voluptatem, eos amet non modi rem illo odio sapiente, voluptatum culpa aut! Illum quasi fugit quidem assumenda, optio voluptas fugiat nemo ad quaerat illo quas sed voluptates magni deserunt et non praesentium totam quo nisi eveniet! Nihil est quod eos unde neque minima repellat perferendis ab natus a. Nisi esse, ab ea tempore dolorem aspernatur ipsum veniam unde modi recusandae dicta labore expedita laudantium animi ipsam molestias ut nemo earum nostrum. Excepturi mollitia totam recusandae nisi quidem, perspiciatis cumque doloribus deserunt!</p>
        </div>
        <div class="article_commentaire">
            <form action="">
                <input type="text" placeholder="Your Name">
                <input type="text" placeholder="Your Email">
                <textarea name="" placeholder="Your Comment here..." id="" cols="30" rows="10"></textarea>
                <button>Submit</button>
            </form>
        </div>

    </div>
    <aside class="col-1">
        <h3>dscsdcsdcsd</h3>
        <p>sdcsdcsdcsdc</p>
        <input type="text">
        <h1>dsdcsdcsdcsdc</h1>
        <h1>dsdcsdcsdcsdc</h1>
        <h1>dsdcsdcsdcsdc</h1>
        <h1>dsdcsdcsdcsdc</h1>
        <h1>dsdcsdcsdcsdc</h1>
        <h1>dsdcsdcsdcsdc</h1>
        <h1>dsdcsdcsdcsdc</h1>
    </aside>
</div>
    
</body>
</html>