<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>article title</title>
  </head>

  <body>
    <div class="row container">
      <div class="col-9 body-blog">
        <div class="image-title mt-5">
          <img
            src="https://assets.entrepreneur.com/content/3x2/2000/20160628101609-Coding.jpeg?auto=webp&quality=95&crop=16:9&width=675"
            alt=""
          />
        </div>
        <div class="article-title p-4">
          <h1 class="fw-bolder">This is the title of the article</h1>
          <p>Posted on the 12/04/2022 by laghbar</p>
        </div>
        <div class="article-body fs-5 p-5">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quam at
            eveniet nihil saepe exercitationem cumque animi, fugiat est,
            inventore nisi minima cupiditate aliquam repellat sequi impedit
            similique obcaecati libero qui dolores, quos aut molestiae
            voluptates voluptas! Delectus sed ut, ducimus dolorum nihil animi
            veritatis quam necessitatibus perferendis eligendi modi consequuntur
            accusantium, velit ex ipsam, unde soluta sunt debitis corporis.
            Dicta eos, alias illum tempore a sed aliquid ea sint dolorum aut
            tenetur quis numquam ducimus illo? Laborum tenetur modi rerum quidem
            quae suscipit eveniet velit, neque voluptatibus ipsam corporis
            doloribus laboriosam voluptatem molestias cum minima itaque!
            Suscipit facilis provident, expedita nesciunt odio maxime reiciendis
            asperiores. Voluptatem facere, reiciendis vitae, et dolores neque
            cum accusantium provident possimus nam animi atque quisquam nihil
            nostrum cupiditate, culpa pariatur non nemo adipisci laboriosam? Aut
            nesciunt quae at enim. Adipisci beatae quia harum sed incidunt,
            placeat ducimus sunt laudantium illum praesentium amet quae id ipsum
            quis! Aspernatur reiciendis ad illum? Voluptatibus tenetur repellat
            velit officiis cum aliquid et recusandae nesciunt dignissimos
            aperiam impedit totam hic atque, corporis libero dolorem
            perspiciatis dolor voluptate cupiditate laudantium, ducimus facere
            deleniti eaque! Natus excepturi numquam molestiae ratione ad ipsa
            dignissimos, doloribus dolorum! Quidem corrupti quasi ratione neque
            voluptatibus.
          </p>
        </div>

        <div class="comment-section border mt-3 p-5">
          <form>
            <div class="form-group">
              <label for="exampleInputPassword1">Your Name</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Your Name"
              />
            </div>

            <div class="form-group mb-3">
              <label for="exampleInputEmail1">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
            </div>

            <div class="p-2 mb-2">
              <textarea name="" id="" cols="80" rows="5"></textarea>
            </div>

            <div class="rating-article m-3">
              <label for="">Rate this Post</label>
              <div class="d-flex flex-row gap-2">
                <i class="color-gold bi bi-star-fill"></i>
                <i class="color-gold bi bi-star-fill"></i>
                <i class="color-gold bi bi-star-fill"></i>
                <i class="color-gold bi bi-star-fill"></i>
                <i class="color-gold bi bi-star-fill"></i>
             </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

          </form>

        </div>
      </div>

      <div class=" p-3 ms-5 mx-auto ">
        <div class="single-commentaire  mb-5 row">
            <div class="col-1 user-icon"><i class="fs-1 bi bi-person"></i></div>
            <div class="col user-commentaire">
              <h4>Great article thank you for sharing </h4>
              <h6>Posted on 12/03/2022 By David Shaw</h6>
            </div>
        </div>

        <div class="single-commentaire mb-5 row">
          <div class="col-1 user-icon"><i class="fs-1 bi bi-person"></i></div>
          <div class="col user-commentaire">
            <h4>Great article thank you for sharing </h4>
            <h6>Posted on 12/03/2022 By David Shaw</h6>
          </div>
      </div>


      <div class="single-commentaire mb-5 row">
        <div class="col-1 user-icon"><i class="fs-1 bi bi-person"></i></div>
        <div class="col user-commentaire">
          <h4>Great article thank you for sharing </h4>
          <h6>Posted on 12/03/2022 By David Shaw</h6>
        </div>
    </div>


    <div class="single-commentaire mb-5 row">
      <div class="col-1 user-icon"><i class="fs-1 bi bi-person"></i></div>
      <div class="col user-commentaire">
        <h4>Great article thank you for sharing </h4>
        <h6>Posted on 12/03/2022 By David Shaw</h6>
      </div>
  </div>
      </div>

      <div class="col aside-blog p-3 rounded">
        <h3>Recent Posts:</h3>

        <div class="recent-post row p-2 m-2">
          <div class="recent-post-img col-4">
            <img
              src="https://scontent.frba1-2.fna.fbcdn.net/v/t1.18169-9/10682_1501034666853138_1714051818574906852_n.png?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=0x6CI7ve1LAAX-djCaI&_nc_ht=scontent.frba1-2.fna&oh=00_AT8poWP-c3lfn2vmAvpB8UQyo6VLtQL5NNoyvJXVqHwt-A&oe=6359D12D"
              width="100px"
              height="100px"
              class="rounded"
              alt=""
            />
          </div>
          <div class="recent-post-content p-1 col">
            <p class="fw-bold">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
              culpa!
            </p>
          </div>
        </div>

        <div class="recent-post row p-2 m-2">
          <div class="recent-post-img col-4">
            <img
              src="https://scontent.frba1-2.fna.fbcdn.net/v/t1.18169-9/10682_1501034666853138_1714051818574906852_n.png?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=0x6CI7ve1LAAX-djCaI&_nc_ht=scontent.frba1-2.fna&oh=00_AT8poWP-c3lfn2vmAvpB8UQyo6VLtQL5NNoyvJXVqHwt-A&oe=6359D12D"
              width="100px"
              height="100px"
              class="rounded"
              alt=""
            />
          </div>
          <div class="recent-post-content p-1 col">
            <p class="fw-bold">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
              culpa!
            </p>
          </div>
        </div>

        <div class="recent-post row p-2 m-2">
          <div class="recent-post-img col-4">
            <img
              src="https://scontent.frba1-2.fna.fbcdn.net/v/t1.18169-9/10682_1501034666853138_1714051818574906852_n.png?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=0x6CI7ve1LAAX-djCaI&_nc_ht=scontent.frba1-2.fna&oh=00_AT8poWP-c3lfn2vmAvpB8UQyo6VLtQL5NNoyvJXVqHwt-A&oe=6359D12D"
              width="100px"
              height="100px"
              class="rounded"
              alt=""
            />
          </div>
          <div class="recent-post-content p-1 col">
            <p class="fw-bold">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum,
              culpa!
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
