@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:ital,wght@0,100;1,100;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat'  ;
}

.c-b{
    color: #D05270;;
}

.bg-b{
    background-color: #d0526f6b;
}