<%- include('../partials/sidebar'); %>
    <!-- start client -->
    <div class="container-fluid">
        <form class="mt-5" method="post">
            <div class="row mb-3 ">
                <label for="inputEmail3" class="col-sm-1 col-form-label">Title</label>
                <div class="col-sm-6">
                    <input type="text" name="title" class="form-control" id="">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-1 col-form-label">Body</label>
                <div class="col-sm-8">
                    <textarea  id="" name="body" cols="70" rows="10"></textarea>
                </div>
            </div>
           <div class="row">
            <select class="m-4 p-2 col-sm-4" aria-label="Default select example" name="categorie"  id="myselect">
                <option class="" value="cat1"> Pick a Categorie </option>
                
                    <% cats.forEach(function(cat) { %>
                        <option class="" value="<%= student.name %>"> <%= cat.title %> </option>

                    <% }); %> 
                   
            </select>
           </div>

            <button type="submit" class="btn btn-primary">Add New Article</button>
        </form>
    </div>
    </div>
    </div>
    </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    </body>

    </html>