<%- include('../partials/sidebar'); %>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md col-sm-6 p-2">
                <div class="p-2" style="background: #badff8;border-radius: 6px;">
                    <i class="bi bi-mortarboard fs-3" style="color: #31a2e4;"></i>
                    <p>Articles</p>
                    <p class="text-end fw-bold fs-5">12</p>
                </div>
            </div>
            <div class="col-md col-sm-6 p-2">
                <div class="p-2" style="background: #ee94cb;border-radius: 6px;">
                    <i class="bi bi-bookmark fs-3" style="color: #f33d9e;"></i>
                    <p>Categories</p>
                    <p class="text-end fw-bold fs-5">10</p>
                </div>
            </div>
            <div class="col-md col-sm-6 p-2">
                <div class="p-2 text-white" style="background: #FF8303;border-radius: 6px;">
                    <i class="bi bi-envelope-open fs-3"></i>
                    <p>commentair</p>
                    <p class="text-end fw-bold fs-5">9</p>
                </div>
            </div>
            <div class="col-md col-sm-6 p-2">
                <div class="p-2 text-white" style="background: linear-gradient(90deg, rgb(168, 163, 218) 0%, rgb(252, 166, 38) 100%);;border-radius: 6px;">
                    <i class="bi bi-person fs-3"></i>
                    <p>Visiteur</p>
                    <p class="text-end fw-bold fs-5">9</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </body>

    </html>